<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Voice Transcript Hub</a>        
      <ul class="navbar-nav">
          <li class="nav-item">
            <a routerLink="/" routerLinkActive="active" class="nav-link" href="#" [routerLinkActiveOptions]="{ exact: true }">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/register" routerLinkActive="active" class="nav-link" href="#">Register</a>
          </li>
          <li class="nav-item">
            <a routerLink="/login" routerLinkActive="active" class="nav-link" href="#">Login</a>
          </li>
        </ul>
      </nav>      
<router-outlet></router-outlet>

<footer class="footer mt-auto py-3">
        <div class="navbar fixed-bottom">
          <span class="text-muted">Copyright Julian Alwandy x14128314</span>
        </div>
      </footer>
