<div class="jumbotron">
    <h1 class="display-4">Voice Transcript Hub</h1>
    <p class="lead">Tired of not being able to retrieve your recording over the cloud? Too much hassle to store the audio files?</p>
    <hr class="my-4">
    <p>Try Voice Transcript Hub, our main goal is to make it easy to record from your phone, Raspberry Pi or computer and offer you a cloud storage solution with transcripts using Watson AI by IBM!</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Try me!</a>
  </div>

<div class="container" style="padding-top:50px;">  
    <div class="row">
        <div class="col-sm">
            <span style="font-size: 4em; color: Tomato;">
                <i class="fas fa-microphone"></i>
                </span>
                <p>Allows you to record your meetings and structure the audio into a format..</p>
          </div>
          <div class="col-sm">
              <span style="font-size: 4em; color: Tomato;">
                  <i class="fas fa-microphone"></i>
                  </span>
                  <p>Allows you to record your meetings and structure the audio into a format..</p>
        </div>
        <div class="col-sm">
            <span style="font-size: 4em; color: Tomato;">
            <i class="fas fa-microphone"></i>
            </span>
            <p>Allows you to record your meetings and structure the audio into a format..</p>
      </div>                  
      </div>
</div>
